@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

.boxs {
  padding: 4px;
  width: 250px;
  min-height: 300px;
  border-radius: 15px;
}

.comment {
  font-family: 'Cafe24Ssurround';
  user-select: none;
  padding: 16px;
  margin: 10px 10px 10px 10px;
  min-height: 45px;
  color: rgb(67, 67, 67);
  border-radius: 15px;
  text-align: center;
}
